body {
    background: radial-gradient( ellipse at center, #ce5937 0%, #080808 50%, #060606 100%);
    /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section.board {
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 0vmin;
}

h1 {
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
    letter-spacing: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 8vmin;
    margin-top: 0%;
}

#message {
    text-align: center;
    font-size: 60px;
    color:red;
}

.board {
    justify-content: center;
}

.square {
    border: 5px solid white;
    box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: #ffffff;
}


#rest-button {
    align-items: center;
    font-size: 30px;
    width: fit-content;
    margin: 40px auto;
    color: white;
    background-color: #ce5937;
    border: 5px solid white;
    box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#rest-button:hover {
    background-color: green;
}